<div id=wrapper>
  <div id=iphone>
    <div id=shadow></div>
    <div id=side></div>
    <div id=lines>
      <div>
        <div>
          <div></div>
        </div>
      </div>
      <div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    <div id=toggler>
      <div></div>
    </div>
    <div id=aux></div>
    <div id=lightning></div>
    <div id=bottom-speaker>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id=skrews>
      <div></div>
      <div></div>
    </div>
    <div id=volume>
      <div></div>
      <div></div>
    </div>
    <div id=front>
      <div id=front-cover></div>
      <div id=camera>
        <div></div>
      </div>
      <div id=speaker></div>
      <div id=screen>
        <div id=reminder>
          <div></div>
          <div> H e l l o</div>
          <div>now</div>
        </div>
        <div id=circle></div>
        <div id=time><div id=clock>
          <div id=hours></div>
          <div id=minutes></div>
          <div id=seconds></div>
        </div></div>
        <div id=date>Phone FIX </div>
        <div id=bottom></div>
        <div id=top></div>
        <div id=slide>
          <div></div>
          <p>slide to unlock</p>
        </div>
        <div id=signal>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div id=battery>
          <div>86%</div>
          <div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div id=home>
        <div><div class=pulse></div>
        </div><menu>
        <li><a href=#><span aria-hidden=true class="fa fa-home" style=color:white></span></a></li>
        <li><span aria-hidden=true class="fa fa-phone" style=color:white></span></li>
        <li><span aria-hidden=true class="fa fa-cogs" style=color:white></span></li>
        <li><span aria-hidden=true class="fa fa-envelope" style=color:white></span></li>
        <li><span aria-hidden=true class="fa fa-globe" style=color:white></span></li>
        <li><span aria-hidden=true class="fa fa-shopping-cart" style=color:white></span></li>
      </menu>
      </div>
    </div>
  </div>
</div>

