
<!--<div class="offset-md-5 col-md-5">-->
  <!--<div class="input-group">-->
    <!--<input class="form-control" [(ngModel)]="filter" placeholder="Search clients"/>-->
    <!--<div class="input-group-append">-->
      <!--<span class="input-group-text"><i class="fas fa-search" (click)="search()"></i></span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<table class="table offset-md-1 col-md-9">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Service ID</th>
    <th scope="col">Client ID</th>
    <th scope="col">Accessories</th>
    <th scope="col">Reported defect</th>
    <th scope="col">Phone Description</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of serviceSheetsData">
    <th scope="row">{{service.iD_Service}} </th>
    <!--<td>{{getClientName(1)}} </td>-->
    <td>{{service.clientID}} </td>
    <td>{{service.accesories}} </td>
    <td>{{service.claimed_defect}} </td>
    <td>{{service.phone_description_on_reception}} </td>
    <td>{{service.date}} </td>
  </tr>
  </tbody>
</table>

